@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  padding: 60px 0 70px;
  text-align: center;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header__bg-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(1, 1, 1, 0.6);
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .header {
    padding: 60px 0 80px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 80px 0 100px;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 100px 0 120px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 120px 0 140px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .header__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .header__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    width: 66.66667%;
  }
}

.cards {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

.cards__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .cards {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .cards {
    padding: 80px 0 90px;
  }
}

@media (min-width: 1200px) {
  .cards {
    padding: 100px 0 100px;
  }
}

.card {
  border: 1px solid #d3d8e4;
  position: relative;
  padding: 16px 16px 20px 16px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    padding: 28px;
  }
}

.card__category {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  background: #00b6dd;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 14px;
  letter-spacing: 1.1px;
  line-height: 18px;
  z-index: 999;
}

.card_clr-blue .card__category {
  background: #081580;
}

@media (min-width: 768px) {
  .card__category {
    top: 12px;
  }
}

@media (min-width: 992px) {
  .card__category {
    padding: 7px 15px;
    letter-spacing: 1.8px;
  }
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__img-container {
  position: relative;
}

.card__img-container::before {
  display: block;
  position: static;
  content: '';
  padding: 54% 0 0;
  margin-bottom: 12px;
}

@media (min-width: 576px) {
  .card__img-container::before {
    padding: 61% 0 0;
  }
}

@media (min-width: 768px) {
  .card__img-container::before {
    padding: 51% 0 0;
    margin-bottom: 18px;
  }
}

@media (min-width: 992px) {
  .card__img-container::before {
    padding: 43% 0 0;
  }
}

@media (min-width: 1200px) {
  .card__img-container::before {
    padding: 56% 0 0;
  }
}

.card__author {
  margin-bottom: 6px;
  font-size: 13px;
  letter-spacing: 0.8;
  color: #00b6dd;
}

.card_clr-blue .card__author {
  color: #081580;
}

@media (min-width: 992px) {
  .card__author {
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .card__author {
    margin-bottom: 10px;
  }
}

.card__title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .card__title {
    margin-bottom: 12px;
  }
}

@media (min-width: 992px) {
  .card__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .card__title {
    font-size: 22px;
    line-height: 32px;
  }
}

.card__description {
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .card__description {
    margin-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .card__description {
    margin-bottom: 75px;
  }
}

.card__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

@media (min-width: 992px) {
  .card__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
  }
}

@media (min-width: 1200px) {
  .card__text {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.card .btn {
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.intro {
  background: #010101;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 576px) {
  .intro {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .intro {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .intro {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .intro__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .intro__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .intro__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

.intro__text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .intro__text {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .intro__text {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 34px;
  }
}

.intro__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .intro__btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .intro__btn-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.intro .btn {
  line-height: 18px;
}

@media (min-width: 992px) {
  .intro .btn {
    padding: 10px 30px;
  }
}

@media (min-width: 1200px) {
  .intro .btn {
    padding: 10px 35px;
  }
}

.intro__img {
  display: block;
  max-width: 100%;
}

.btn {
  letter-spacing: 0.8px;
  font-size: 12px;
  color: #fff;
  background: #00b6dd;
  cursor: pointer;
  padding: 9px 28px;
  border: none;
}

.btn_clr-blue {
  background: #081580;
}

.btn_bg-none {
  background-color: #010101;
  outline: 1px solid #00b6dd;
}

@media (min-width: 768px) {
  .btn {
    bottom: 28px;
    left: 28px;
    line-height: 20px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .btn {
    bottom: 30px;
    left: 30px;
    line-height: 20px;
    font-size: 14px;
  }
}

.title {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  line-height: 48px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .title {
    font-size: 54px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 62px;
    line-height: 68px;
  }
}

.title_clr-blue {
  font-size: 46px;
  color: #00b6dd;
  margin-bottom: 14px;
}

@media (min-width: 992px) {
  .title_clr-blue {
    margin-bottom: 20px;
    text-align: left;
    font-size: 54px;
  }
}

@media (min-width: 1200px) {
  .title_clr-blue {
    margin-bottom: 22px;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 64px;
  }
}

.logo {
  background: #feebd6;
  padding: 50px 0 50px;
}

@media (min-width: 576px) {
  .logo {
    padding: 60px 0 60px;
  }
}

@media (min-width: 768px) {
  .logo {
    padding: 70px 0 70px;
  }
}

@media (min-width: 992px) {
  .logo {
    padding: 80px 0 80px;
  }
}

@media (min-width: 1200px) {
  .logo {
    padding: 100px 0 100px;
  }
}

.logo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

@media (min-width: 768px) {
  .logo__row {
    row-gap: 40px;
  }
}

@media (min-width: 992px) {
  .logo__row {
    row-gap: 50px;
  }
}

@media (min-width: 1200px) {
  .logo__row {
    row-gap: 70px;
  }
}

.logo__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  width: 33.33333%;
}

@media (min-width: 576px) {
  .logo__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    width: 20%;
  }
}

@media (min-width: 992px) {
  .logo__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    width: 16.66667%;
  }
}

.logo__img {
  display: block;
  max-width: 100%;
}

.text-cards {
  padding: 50px 0;
}

.text-cards_centered {
  background: #081580;
}

@media (min-width: 576px) {
  .text-cards {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .text-cards {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .text-cards {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .text-cards {
    padding: 100px 0;
  }
}

.text-cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 30px;
}

.text-cards_centered .text-cards__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

@media (min-width: 576px) {
  .text-cards_centered .text-cards__row {
    row-gap: 40px;
  }
}

@media (min-width: 768px) {
  .text-cards_centered .text-cards__row {
    row-gap: 50px;
  }
}

.text-cards__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .text-cards_centered .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .text-cards_centered .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
}

@media (min-width: 576px) {
  .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

.text-card {
  background: #ccd5ae;
  width: 100%;
  padding: 16px 16px 30px 16px;
}

@media (min-width: 768px) {
  .text-card {
    padding: 30px 30px 40px 30px;
  }
}

.text-card_centered {
  background: none;
  color: #fff;
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .text-card_centered {
    padding: 0;
  }
}

.text-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text-card_centered .text-card__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

@media (min-width: 992px) {
  .text-card_centered .text-card__title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .text-card_centered .text-card__title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 992px) {
  .text-card__title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (min-width: 1200px) {
  .text-card__title {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 1.2px;
  }
}

.text-card__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

@media (min-width: 992px) {
  .text-card__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
}

body {
  background: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto !important;
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
/*# sourceMappingURL=style.css.map */