@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/marian-kroell-OVXlWNcQV5M-unsplash.png") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/marian-kroell-OVXlWNcQV5M-unsplash.png") center/cover no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 60px 15px 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  width: 290px;
  min-width: 290px;
}

.title {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
}

.container {
  width: 300px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.item-container {
  padding-top: 50px;
  padding-bottom: 60px;
}

.item {
  border: 1px solid #d3d8e4;
  padding: 16px 16px 20px 16px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.item__category {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  background: #00b6dd;
  text-transform: uppercase;
  font-size: 12px;
  height: 32px;
  padding: 8px 15px;
}

.item__img {
  width: 258px;
  height: 140px;
  background: #ff779a;
  margin-bottom: 12px;
}

.item__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__description {
  margin-bottom: 20px;
}

.item__author {
  margin-bottom: 6px;
  font-size: 13px;
  letter-spacing: 0.8;
  color: #00b6dd;
}

.item__title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.item__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

.btn {
  letter-spacing: 0.8px;
  font-size: 12px;
  color: #fff;
  background: #00b6dd;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 140px;
  height: 36px;
  border: none;
}

.item_blue .item__category {
  background: #081580;
}

.item_blue .item__author {
  color: #081580;
}

.item_blue .btn {
  background: #081580;
}

.footer {
  background: #070707;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer__title {
  font-size: 46px;
  width: 290px;
  color: #00b6dd;
  margin-bottom: 14px;
}

.footer__text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.footer__btn-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  width: 100%;
  margin-bottom: 25px;
}

.footer .btn {
  position: relative;
  width: 100%;
}

.footer .btn_outline {
  background-color: #070707;
  outline: 1px solid #00b6dd;
}

.footer__img {
  background: url("../img/marian-kroell-OVXlWNcQV5M-unsplash2.png") center/cover no-repeat;
  width: 100%;
  height: 146px;
}

@media screen and (min-width: 576px) {
  .header {
    padding: 60px 63px 80px;
  }
  .header__title {
    width: 450px;
  }
  .item-container {
    width: 546px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__title {
    width: 290px;
  }
  .footer__container {
    width: 450px;
  }
  .footer__text {
    width: 100%;
    letter-spacing: 1px;
  }
  .footer__btn-container {
    width: 286px;
  }
  .footer__img {
    height: 275px;
  }
  .item {
    padding: 16px;
    width: 258px;
  }
  .item__description {
    margin-bottom: 26px;
  }
  .item__img {
    margin-bottom: 18px;
    width: 226px;
    height: 140px;
  }
  .item__title {
    margin-bottom: 12px;
  }
  .item__text {
    margin-bottom: 70px;
  }
  .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .footer__title {
    width: 450px;
  }
  .footer__text {
    margin-bottom: 30px;
  }
  .footer__btn-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto 30px;
  }
  .footer .btn {
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 80px 150px 100px;
  }
  .header__title {
    width: 470px;
  }
  .item-container {
    margin: auto;
    width: 720px;
    padding: 60px 24px 70px 24px;
  }
  .item {
    width: 345px;
    padding: 28px;
  }
  .item__category {
    margin-top: 12px;
  }
  .item__img {
    height: 150px;
    width: 289px;
  }
  .btn {
    bottom: 28px;
    left: 28px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer__title {
    width: 595px;
  }
  .footer__container {
    width: 596px;
  }
  .footer__img {
    height: 364px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 100px 180px 120px;
  }
  .header__title {
    width: 620px;
    font-size: 54px;
    letter-spacing: 1.2;
  }
  .container {
    width: 960px;
  }
  .item {
    width: 465px;
    padding: 30px;
  }
  .item__img {
    width: 405px;
    margin-bottom: 20px;
  }
  .item__author {
    font-size: 13px;
  }
  .item__title {
    margin-bottom: 16px;
  }
  .item__text {
    margin-bottom: 80px;
  }
  .footer {
    padding-top: 80px;
  }
  .footer__title {
    width: 455px;
    margin-bottom: 20px;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__description-block, .footer__img {
    min-width: 455px;
  }
  .footer__title, .footer__text {
    padding: 0;
    text-align: left;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__btn-container {
    margin: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer__img {
    height: 332px;
    width: 100%;
  }
  .btn {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 120px auto 140px;
  }
  .title {
    width: 730px;
    font-size: 62px;
    letter-spacing: 1.4;
  }
  .container {
    width: 1140px;
  }
  .item-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .item {
    width: 360px;
  }
  .item__img {
    width: 300px;
  }
  .footer {
    padding-top: 100px;
  }
  .footer__title {
    min-width: none;
    width: 100%;
    margin-bottom: 22px;
  }
  .footer__description-block {
    width: 555px;
  }
  .footer__img {
    width: 488px;
  }
  .footer__text {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .btn {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */