@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  padding: 60px 0 70px;
  text-align: center;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero__bg-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(1, 1, 1, 0.6);
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .hero {
    padding: 60px 0 80px;
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 80px 0 100px;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 100px 0 120px;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 120px 0 140px;
  }
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .hero__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .hero__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    width: 66.66667%;
  }
}

.cards {
  padding: 50px 0;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

.cards__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .cards {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .cards {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .cards {
    padding: 100px 0;
  }
}

.card {
  border: 1px solid #d3d8e4;
  position: relative;
  padding: 16px 16px 20px 16px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    padding: 28px;
  }
}

.card__category {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  background: #00b6dd;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 14px;
  letter-spacing: 1.1px;
  line-height: 18px;
  z-index: 1;
}

.card_clr-blue .card__category {
  background: #081580;
}

@media (min-width: 768px) {
  .card__category {
    top: 12px;
  }
}

@media (min-width: 992px) {
  .card__category {
    padding: 7px 15px;
    letter-spacing: 1.8px;
  }
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__img-container {
  position: relative;
}

.card__img-container::before {
  display: block;
  position: static;
  content: '';
  padding: 54% 0 0;
  margin-bottom: 12px;
}

@media (min-width: 576px) {
  .card__img-container::before {
    padding: 61% 0 0;
  }
}

@media (min-width: 768px) {
  .card__img-container::before {
    padding: 51% 0 0;
    margin-bottom: 18px;
  }
}

@media (min-width: 992px) {
  .card__img-container::before {
    padding: 43% 0 0;
  }
}

@media (min-width: 1200px) {
  .card__img-container::before {
    padding: 56% 0 0;
  }
}

.card__author {
  margin-bottom: 6px;
  font-size: 13px;
  letter-spacing: 0.8;
  color: #00b6dd;
}

.card_clr-blue .card__author {
  color: #081580;
}

@media (min-width: 992px) {
  .card__author {
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .card__author {
    margin-bottom: 10px;
  }
}

.card__title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .card__title {
    margin-bottom: 12px;
  }
}

@media (min-width: 992px) {
  .card__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .card__title {
    font-size: 22px;
    line-height: 32px;
  }
}

.card__description {
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .card__description {
    margin-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .card__description {
    margin-bottom: 75px;
  }
}

.card__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

@media (min-width: 992px) {
  .card__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
  }
}

@media (min-width: 1200px) {
  .card__text {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.card .btn {
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.intro {
  background: #010101;
  text-align: center;
  padding: 50px 0;
}

@media (min-width: 576px) {
  .intro {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .intro {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .intro {
    padding: 100px 0;
  }
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .intro__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .intro__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .intro__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

.intro__text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .intro__text {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .intro__text {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 34px;
  }
}

.intro__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .intro__btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .intro__btn-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.intro .btn {
  line-height: 18px;
}

@media (min-width: 992px) {
  .intro .btn {
    padding: 10px 30px;
  }
}

@media (min-width: 1200px) {
  .intro .btn {
    padding: 10px 35px;
  }
}

.intro__img {
  display: block;
  max-width: 100%;
}

.btn {
  letter-spacing: 0.8px;
  font-size: 12px;
  color: #fff;
  background: #00b6dd;
  cursor: pointer;
  padding: 9px 28px;
  border: none;
}

.btn_clr-blue {
  background: #081580;
}

.btn_bg-none {
  background-color: #010101;
  outline: 1px solid #00b6dd;
}

@media (min-width: 768px) {
  .btn {
    line-height: 20px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .btn {
    bottom: 30px;
    left: 30px;
    line-height: 20px;
    font-size: 14px;
  }
}

.title {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  line-height: 48px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .title {
    font-size: 54px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 62px;
    line-height: 68px;
  }
}

.title_clr-blue {
  font-size: 46px;
  color: #00b6dd;
  margin-bottom: 14px;
}

@media (min-width: 992px) {
  .title_clr-blue {
    margin-bottom: 20px;
    text-align: left;
    font-size: 54px;
  }
}

@media (min-width: 1200px) {
  .title_clr-blue {
    margin-bottom: 22px;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 64px;
  }
}

.logos {
  background: #feebd6;
  padding: 50px 0;
}

@media (min-width: 576px) {
  .logos {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .logos {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .logos {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .logos {
    padding: 100px 0;
  }
}

.logos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

@media (min-width: 768px) {
  .logos__row {
    row-gap: 40px;
  }
}

@media (min-width: 992px) {
  .logos__row {
    row-gap: 50px;
  }
}

@media (min-width: 1200px) {
  .logos__row {
    row-gap: 70px;
  }
}

.logos__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  width: 33.33333%;
}

@media (min-width: 576px) {
  .logos__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    width: 20%;
  }
}

@media (min-width: 992px) {
  .logos__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    width: 16.66667%;
  }
}

.logo {
  display: block;
  max-width: 100%;
}

.text-cards {
  padding: 50px 0;
}

@media (min-width: 576px) {
  .text-cards {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .text-cards {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .text-cards {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  .text-cards {
    padding: 100px 0;
  }
}

.text-cards_centered {
  background: #081580;
}

.text-cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 30px;
}

.text-cards_centered .text-cards__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

@media (min-width: 576px) {
  .text-cards_centered .text-cards__row {
    row-gap: 40px;
  }
}

@media (min-width: 768px) {
  .text-cards_centered .text-cards__row {
    row-gap: 50px;
  }
}

.text-cards__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .text-cards_centered .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .text-cards_centered .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
}

@media (min-width: 576px) {
  .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .text-cards__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
}

.text-card {
  background: #ccd5ae;
  width: 100%;
  padding: 16px 16px 30px 16px;
}

@media (min-width: 768px) {
  .text-card {
    padding: 30px 30px 40px 30px;
  }
}

.text-card_centered {
  background: none;
  color: #fff;
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .text-card_centered {
    padding: 0;
  }
}

.text-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text-card_centered .text-card__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

@media (min-width: 992px) {
  .text-card_centered .text-card__title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1200px) {
  .text-card_centered .text-card__title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 992px) {
  .text-card__title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (min-width: 1200px) {
  .text-card__title {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 1.2px;
  }
}

.text-card__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

@media (min-width: 992px) {
  .text-card__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
}

.header {
  background: #010101;
  position: relative;
  padding: 12px 0;
  width: 100%;
  -webkit-box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
          box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
  z-index: 3;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.header__logo-container {
  -webkit-mask: center / 100% no-repeat;
          mask: center / 100% no-repeat;
  -webkit-mask-image: url("../img/logo/octo.svg");
          mask-image: url("../img/logo/octo.svg");
}

.header .header__logo {
  width: 76px;
  height: 18px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header .header__logo {
    width: 84px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .header .header__logo {
    width: 102px;
    height: 24px;
  }
}

@media (min-width: 1200px) {
  .header .header__logo {
    width: 110px;
    height: 26px;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.header__burger::before, .header__burger::after,
.header__burger span {
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #00b6dd;
}

.header__burger::before, .header__burger::after {
  content: '';
}

.header__burger::before {
  top: 4px;
}

.header__burger::after {
  bottom: 4px;
}

.header__burger span {
  top: 46%;
}

@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 13px 0;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 15px 0;
  }
}

.menu {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  right: -100%;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  bottom: 0;
  top: 0;
  padding: 50px 0 0;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 992px) {
  .menu__col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 18px;
  padding: 40px 0 0;
}

@media (min-width: 992px) {
  .menu__links {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 41px;
            column-gap: 41px;
  }
}

@media (min-width: 1200px) {
  .menu__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 41px;
            column-gap: 41px;
  }
}

.menu__link {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  color: #00b6dd;
  text-decoration: none;
}

.menu__link_active::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #00b6dd;
  bottom: -3px;
  left: 0px;
}

@media (min-width: 992px) {
  .menu__link_active::after {
    bottom: 0;
  }
}

.menu__link:hover::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #00b6dd;
  bottom: -3px;
  left: 0px;
}

@media (min-width: 992px) {
  .menu__link:hover::after {
    bottom: 0;
  }
}

@media (min-width: 992px) {
  .menu__link {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.2px;
    padding: 12px 0 14px;
  }
}

@media (min-width: 1200px) {
  .menu__link {
    padding: 13px 0 15px;
  }
}

.menu .btn {
  letter-spacing: 0.8px;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 28px;
}

.menu_show {
  right: 0;
}

@media (min-width: 576px) {
  .menu {
    width: 320px;
  }
}

@media (min-width: 992px) {
  .menu {
    left: 0;
    background: none;
    position: relative;
    height: auto;
    overflow-y: visible;
  }
}

@media (min-width: 992px) {
  .menu {
    padding: 0;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}

.contact__phone {
  display: none;
  color: #00b6dd;
  letter-spacing: 0.8px;
  font-size: 13px;
  line-height: 20px;
}

.contact_column .contact__phone {
  display: block;
}

@media (min-width: 992px) {
  .contact__phone {
    display: block;
  }
}

.contact .btn {
  display: none;
  letter-spacing: 0.8px;
  font-size: 13px;
  line-height: 20px;
  padding: 9px 30px 11px;
}

.contact .btn_visible {
  display: block;
}

@media (min-width: 992px) {
  .contact .btn {
    display: block;
  }
}

@media (min-width: 1200px) {
  .contact .btn {
    padding: 9px 35px 11px;
  }
}

.contact_column {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8px;
  padding: 0 0 80px;
}

@media (min-width: 992px) {
  .contact_column {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contact {
    -webkit-column-gap: 26px;
            column-gap: 26px;
  }
}

body {
  background: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto !important;
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}

.wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
          box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
  height: 100%;
}

@media (min-width: 992px) {
  .wrapper {
    background: #fff;
    height: auto;
  }
}

.class {
  position: relative;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */