@include media-ssm {
  .header {
    padding: 60px 63px 80px;
    &__title {
      width: 450px;
    }
  }

  .item-container {
    width: 546px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    justify-content: center;
  }
  .footer {
    padding-top: 60px;
    &__title {
      width: 290px;
    }
    &__container {
      width: 450px;
    }
    &__text {
      width: 100%;
      letter-spacing: 1px;
    }
    &__btn-container {
      width: 286px;
    }

    &__img {
      height: 275px;
    }
  }

  .item {
    padding: 16px;
    width: 258px;

    &__description {
      margin-bottom: 26px;
    }

    &__img {
      margin-bottom: 18px;
      width: 226px;
      height: 140px;
    }

    &__title {
      margin-bottom: 12px;
    }
    &__text {
      margin-bottom: 70px;
    }
  }
  .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .footer {
    &__title {
      width: 450px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__btn-container {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto 30px;
    }
    .btn {
      bottom: 0;
      left: 0;
    }
  }
}
@include media-sm {
  .header {
    padding: 80px 150px 100px;
    &__title {
      width: 470px;
    }
  }

  .item-container {
    margin: auto;
    width: 720px;
    padding: 60px 24px 70px 24px;
  }
  .item {
    width: 345px;
    padding: 28px;

    &__category {
      margin-top: 12px;
    }

    &__img {
      height: 150px;
      width: 289px;
    }
  }
  .btn {
    bottom: 28px;
    left: 28px;
  }
  .footer {
    padding-top: 70px;
    &__title {
      width: 595px;
    }
    &__container {
      width: 596px;
    }
    &__img {
      height: 364px;
    }
  }
}
@include media-md {
  .header {
    padding: 100px 180px 120px;
    &__title {
      width: 620px;
      font-size: 54px;
      letter-spacing: 1.2;
    }
  }

  .container {
    width: 960px;
  }

  .item {
    width: 465px;
    padding: 30px;

    &__img {
      // height: 170px;

      width: 405px;
      margin-bottom: 20px;
    }

    &__author {
      font-size: 13px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 80px;
    }
  }
  .footer {
    padding-top: 80px;
    &__title {
      width: 455px;
      margin-bottom: 20px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__description-block,
    &__img {
      min-width: 455px;
    }
    &__title,
    &__text {
      padding: 0;
      text-align: left;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__btn-container {
      margin: 0;
      align-items: stretch;
    }

    &__img {
      height: 332px;
      width: 100%;
    }
  }
  .btn {
    width: 150px;
  }
}
@include media-lg {
  .header {
    padding: 120px auto 140px;
  }
  .title {
    width: 730px;
    font-size: 62px;
    letter-spacing: 1.4;
  }
  .container {
    max-width: 1140px;
  }
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    width: 360px;

    &__img {
      // height: 170px;
      width: 300px;
    }
  }
  .footer {
    padding-top: 100px;
    &__title {
      min-width: none;
      width: 100%;
      margin-bottom: 22px;
    }
    &__description-block {
      width: 555px;
    }
    &__img {
      width: 488px;
    }
    &__text {
      font-size: 22px;
      margin-bottom: 40px;
    }
  }
  .btn {
    font-size: 13px;
  }
}
