.btn {
  letter-spacing: 0.8px;
  font-size: 12px;
  line-height: 18px;
  color: get-color(white);
  background: get-color(cerulean);
  cursor: pointer;
  padding: 9px 28px;
  border: none;

  &_clr-blue {
    background: get-color(blue);
  }

  &_bg-none {
    background-color: get-color(black);
    outline: 1px solid get-color(cerulean);
  }

  @include breakpoint-sm-up {
    line-height: 20px;
    font-size: 14px;
  }
  @include breakpoint-md-up {
    bottom: 30px;
    left: 30px;
    line-height: 20px;
    font-size: 14px;
  }
}
