.contact {
  $root: &;
  display: flex;

  align-items: center;
  column-gap: 21px;

  &__phone {
    #{$root}_column & {
      display: block;
    }

    .header_theme-light #{$root} & {
      color: get-color(black);
    }

    display: none;
    color: get-color(black);
    letter-spacing: 0.8px;
    font-size: 12px;
    line-height: 18px;
    transition: all 0.3s linear;

    @include breakpoint-md-up {
      display: block;
      color: get-color(cerulean);
      letter-spacing: 0.8px;
      font-size: 13px;
      line-height: 20px;
    }
  }

  .btn {
    display: none;
    letter-spacing: 0.8px;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 28px;

    &_visible {
      display: block;
    }
    .header_theme-light .btn {
      background: get-color(blue);
    }

    @include breakpoint-md-up {
      display: block;
    }
    @include breakpoint-lg-up {
      padding: 9px 35px 11px;
    }
  }

  &_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    padding: 0 0 80px;

    @include breakpoint-md-up {
      display: none;
    }
  }

  @include breakpoint-sm-up {
    position: fixed;
    width: 320px;
    padding: 176px 0 0;
    z-index: 0;
  }
  @include breakpoint-md-up {
    position: relative;
    padding: 0;
  }
  @include breakpoint-lg-up {
    column-gap: 26px;
  }

  a {
    text-decoration: none;
  }
}
