.header {
  $root: &;
  background: get-color(black);
  position: relative;
  padding: 12px 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
  transition: all 0.3s linear;

  &_theme-light {
    background: get-color(blueLight);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include hover-opacity;
    mask: center / 100% no-repeat;
    z-index: 1;

    mask-image: url('../img/logo/octo.svg');
    width: 76px;
    height: 18px;
    background-color: get-color(white);
    cursor: pointer;

    #{$root}_theme-light & {
      background-color: get-color(greyDark);
    }

    @include breakpoint-sm-up {
      width: 84px;
      height: 20px;
    }
    @include breakpoint-md-up {
      width: 102px;
      height: 24px;
    }
    @include breakpoint-lg-up {
      width: 110px;
      height: 26px;
    }
  }

  &__burger {
    @include hover-opacity;
    display: block;
    position: relative;
    width: 27px;
    height: 27px;
    cursor: pointer;

    &::before,
    &::after,
    span {
      left: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background: get-color(cerulean);
      transition: all 0.8s ease;

      #{$root}_theme-light & {
        background: get-color(blue);
      }
    }

    &::before,
    &::after {
      content: '';
    }
    &::before {
      top: 4px;
    }
    &::after {
      bottom: 4px;
    }

    span {
      top: 46%;
    }

    #{$root}_open & {
      span {
        background: transparent;
        #{$root}_theme-light & {
          background: transparent;
        }
      }
      &::before {
        transform: translateY(8px) rotate(45deg);
      }
      &::after {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    @include breakpoint-md-up {
      display: none;
    }
  }

  @include breakpoint-md-up {
    box-shadow: none;
    padding: 13px 0;
  }
  @include breakpoint-lg-up {
    padding: 15px 0;
  }
}
