.header {
  background: get-color(black);
  position: relative;
  padding: 12px 0;
  width: 100%;
  box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
  z-index: 3;

  &__row {
    @include make-row;

    justify-content: center;
  }

  &__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include make-col-ready;
    @include make-col(12);
  }

  &__logo-container {
    mask: center / 100% no-repeat;

    mask-image: url('../img/logo/octo.svg');
  }
  .header__logo {
    width: 76px;
    height: 18px;
    background-color: get-color(white);

    @include breakpoint-sm-up {
      width: 84px;
      height: 20px;
    }
    @include breakpoint-md-up {
      width: 102px;
      height: 24px;
    }
    @include breakpoint-lg-up {
      width: 110px;
      height: 26px;
    }
  }

  &__burger {
    display: block;
    position: relative;
    width: 27px;
    height: 27px;
    cursor: pointer;

    &::before,
    &::after,
    span {
      left: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background: get-color(cerulean);
    }

    &::before,
    &::after {
      content: '';
    }
    &::before {
      top: 4px;
    }
    &::after {
      bottom: 4px;
    }

    span {
      top: 46%;
    }

    @include breakpoint-md-up {
      display: none;
    }
  }
  @include breakpoint-md-up {
    padding: 13px 0;
  }
  @include breakpoint-lg-up {
    padding: 15px 0;
  }
}
