@import 'config', 'grid', 'hero', 'cards', 'intro', 'btn', 'title', 'logos',
  'text-cards', 'header', 'menu', 'contact', 'accordion';

body {
  background: get-color(white);
  font-family: 'Noto Sans', sans-serif;
}

.container {
  @include make-container;
}
.wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 100%;

  @include breakpoint-md-up {
    box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
    background: get-color(white);
    height: auto;
  }
}

main {
  z-index: 1;
}
