@import 'config', 'grid', 'hero', 'cards', 'intro', 'btn', 'title', 'logos',
  'text-cards', 'header', 'menu';

body {
  background: get-color(white);
  font-family: 'Noto Sans', sans-serif;
}

.container {
  @include make-container;
}
.wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
  // height: 0vh;

  @include breakpoint-md-up {
    background: get-color(white);
    height: auto;
  }
}
